[*.cs]

# IDE0290: Use primary constructor
csharp_style_prefer_primary_constructors = false

# IDE0301: Simplify collection initialization
dotnet_style_prefer_collection_expression = never

# IDE0270: Use coalesce expression
dotnet_style_coalesce_expression = false

# IDE0057: Use range operator
csharp_style_prefer_range_operator = false
